@page "/"
@using Excubo.Blazor.Canvas

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@inject Microsoft.JSInterop.IJSRuntime js;
<canvas @ref="normal_canvas" width="600px" height="300px"></canvas>

<div id="mygraph"/>

@code {
    private ElementReference normal_canvas;
    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if (first_render)
        {
            var thing = BuildEvalCommand(normal_canvas, "2d", PrepareArguments(true, false));
            Console.WriteLine($"__ID__ {thing.Id}");
            Console.WriteLine($"__ID__ {thing.Command}");

            await using (var ctx2 = await js.GetContext2DAsync(normal_canvas))
            {
                await ctx2.FontAsync("48px serif");
                await ctx2.StrokeTextAsync("Excubo.Blazor.Canvas", 0, 150);
            }

            await js.InvokeVoidAsync("initVis", "mygraph");
        }
    }
    
    string PrepareArguments(bool alpha, bool desynchronized) => "{\r\n              alpha: " + alpha.ToString().ToLowerInvariant() + ",\r\n              desynchronized: " + desynchronized.ToString().ToLowerInvariant() + "\r\n            }";
    
    private (string Id, string Command) BuildEvalCommand(
        ElementReference canvas,
        string type,
        string arguments = null)
    {
        string str1 = "document.querySelector('[_bl_" + canvas.Id + "=\"\"]')" + ".getContext('" + type + "'" + (arguments == null ? "" : ", " + arguments) + ")";
        string str2 = "ctx_" + canvas.Id.Replace('-', '_');
        string str3 = "window." + str2 + " = " + str1;
        return (str2, str3);
    }
}
